<header>

  <img src="https://i.ibb.co/4WsHDQX/Artboard-1-copy-8.png" alt="logo" />
  {{!-- {{#if session}}
    {{#if alumno}}
      <p>¡Hola
        {{alumno.nombre}}
        {{alumno.apellido}}!</p>
    {{/if}}
    {{#if profesor}}
      <p>¡Hola
        {{profesor.nombre}}
        {{profesor.apellido}}!</p>
    {{/if}}
  {{else}}
  {{/if}} --}}
  {{! <nav> }}
  {{!-- 
    <ul class="roboto-list">
      <li>HOME</li>
      {{! <li>NOVEDADES</li>
      <li>RUTINAS</li> }}
      {{#if session}}
        {{#if alumno}}
          <li>
            <a href="/api/users/perfil/{{alumno.id}}">Perfil</a></li>
        {{/if}}
        {{#if profesor}}
          <li><a href="/api/users/perfil/profesor/{{profesor.id}}">PERFIL
            </a></li>

        {{/if}}
      {{else}}

        <li><a href="/api/views/login">ALUMNOS</a></li>
        <li><a href="/api/views/loginprofesores">PROFESORES</a></li>

      {{/if}}
    </ul> --}}
  {{! </nav> }}
</header>
<main>

  <div class="divOpacity">
    {{#if session}}
      {{#if alumno}}
        <section class="homeLogueado">
          <h3>¡HOLA, {{alumno.apellido}} {{alumno.nombre}}!</h3>
          <a class="divCuadro" href="/api/users/perfil/{{alumno.id}}">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt8GkVX7HB2NMiwXELav_6K7Sen_3ddFvDzw&s"
              alt=""
            />
            <h4>PERFIL</h4>
          </a>
        </section>
      {{/if}}
      {{#if profesor}}
        <section class="homeLogueado">
          <h3>¡HOLA, {{profesor.apellido}} {{profesor.nombre}}!</h3>
          <a
            class="divCuadro"
            href="/api/users/perfil/profesor/{{profesor.id}}"
          >
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt8GkVX7HB2NMiwXELav_6K7Sen_3ddFvDzw&s"
              alt=""
            />
            <h4>ESPACIO DE TRABAJO</h4>
          </a>
        </section>
      {{/if}}
    {{else}}
      <h3>SUMATE AL MEJOR</h3>
      <h3> EQUIPO DE ENTRENAMIENTO</h3>
      <section class="infoServicios">
        <a class="divCuadro" href="/api/views/login">
          <img src="/images/ALUMNOS.PNG" alt="" />

        </a>
        <a class="divCuadro" href="/api/views/loginprofesores">
          <img src="{{baseUrl}}/images/PROFES.PNG" alt="" />

        </a>
        <a class="divCuadro" href="/api/views/contacto">
          <img src="/images/CONTACTO.PNG" alt="" />

        </a>

        {{! <div class="divCuadro">
        <h4 class="h4Top">ENTRENAMIENTOS</h4><h4>PERSONALIZADOS</h4>
        <img
          src="https://aiguajoc.com/wp-content/uploads/entrenador-personal-beneficios-aiguajoc.webp"
          alt=""
        />
      </div>
      <div class="divCuadro">
        <h4 class="h4Top">ENTRENAMIENTOS</h4>
        <h4>EN GRUPO</h4>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsA6SbE4IDHu25hiRmqynHW1HDFsJt2R5sBg&s"
          alt=""
        />
      </div>
      <div class="divCuadro">
        <h4 class="h4Top">SEGUIMIENTOS</h4>
        <h4>A DISTANCIA</h4>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeOPbmL2edHabDNvvDdrQdXWgtzOClug5k_A&s"
          alt=""
        />
      </div> }}
      </section>
    {{/if}}

  </div>
</main>
<footer>
  <div>
    <a href="https://www.youtube.com/@shadowfitargentina" target="_blank"><img
        src="https://static.vecteezy.com/system/resources/thumbnails/042/127/180/small/3d-bottom-side-flat-youtube-play-button-logo-with-transparent-background-free-png.png"
        alt="logo de youtube"
      /></a>
    <a
      href="https://www.instagram.com/shadowfit_argentina/"
      target="_blank"
    ><img
        src="https://static.vecteezy.com/system/resources/thumbnails/018/930/415/small/instagram-logo-instagram-icon-transparent-free-png.png"
        alt="logo de instagram"
      /></a>
    <a href="mailto:shadowfit.info@gmail.com"><img
        id="gmail"
        src="https://cdn-icons-png.flaticon.com/512/281/281769.png"
        alt="logo gmail"
      /></a>
  </div>
  <h6>&copy; Cantarin Pablo</h6>
</footer>