<header><h1>PANEL ALUMNO</h1></header>
<main>

  {{!En este sector se visualizan datos del alumno}}
<div class="alumnoCuadro">
    <div class="datos1">
      {{#if alumno.foto_perfil}}
      <img
      id="imagenID"
        class="fotoPerfil"
        src=""
        alt=""
      />
      {{else}}
      <img
        class="fotoPerfil"
        src="https://www.svgrepo.com/show/530412/user.svg"
        alt=""
      />
      {{/if}}
      <div id="usuario_id" data-id="{{alumno._id}}">
        <p >{{alumno.nombre}}</p>
        <p>{{alumno.apellido}}</p>
        <p>{{alumno.email}}</p>
        <p>Inicio {{alumno.fecha_registro}}</p>
      </div>
    </div>
  </div>
 
  {{!Hay que agregar tres bloques de codigo uno para rutinas (en este estarán la lista de rutinas y un link que deriva a ellas), otro dietas (los mismo que las rutinas), otro progresos (con imágenes con fechas)}}
  <section>
    <h2>RUTINAS</h2>
  <ul class="listaRutinas">
  {{#each alumno.rutinas}}
 
    <li>
      <p>{{this.fecha}}</p>
      <a href="/api/views/rutinaProfesor/{{@index}}/{{../alumno._id}}" target="_blank">
        <span  class="material-symbols-outlined">multimodal_hand_eye</span>
      </a>
    </li>
  {{/each}}
  </ul>
  </section>
  <section>
    <h2>DIETAS</h2>
    {{#if alumno.dietas.length}}
    <h4>hay dietas</h4>
    {{else}}
    <h4>Aun no se han cargado dietas</h4>
    {{/if}}
  </section>
  <section>
    <h2>PROGRESOS</h2>
    {{#if alumno.progresos.length}}
     <div id="listaProgresos">
  {{#each alumno.progresos}}
<article class="grupoProgreso">
<h4 class="fechaDeProgresos">{{this.fecha}}</h4>
<div class="FotosProgresos">
  <img name="{{this.fotoFrente}}"   src="" alt="">
  <img name="{{this.fotoPerfil}}" src="" alt="">
  <img name="{{this.fotoEspalda}}" src="" alt="">
</div>
</article>
{{/each}}
</div>
    {{else}}
    <h4>Aun no se han cargado progresos</h4>
    {{/if}}
  </section>

  <a class="volver" href="/api/users/perfil/profesor/{{alumno.profesor}}">Volver al perfil</a>

</main>
<footer>&copy; Cantarin Pablo</footer>
<script src="/js/panelAlumno.js"></script>